@media (max-width: 767px) {
    .wholeScreen{
        height: 100vh;
        width: 100vw !important;
        margin: 0;
        box-shadow: none;
    }
    .chat-box{
        height: 77vh !important;
    }
}
.wholeScreen{
    width: 50%;
}
.chat-box{
    height: 400px;
    overflow-y: scroll;
}